html {
  background-color: rgb(0, 0, 0);
  background-image: url("images/blacktest.png");
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: contain;
}

.nav {
  background-color: rgb(255, 255, 255);
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 2px;
  //   padding: 2%;
  height: 60px;
  position: fixed;
  width: 100%;
  margin-top: -95px;
  background-image: url("images/white.png");
  // background-size: contain;
  z-index: 1;
}

.homescreenimg {
  width: 50%;
  height: 50%;
  margin: 2.5% 10% 2.5% 25%;
}

.header {
  margin: 0%;
  background-color: rgb(83, 79, 79);
  background-image: url("images/black.png");
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 5px;
  background-image: url("images/blacktest.png");
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: contain;

  // h1 {
  //   color: white;
  //   text-align: center;
  // }
}
.sectionslideshow {
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  background-image: url("images/white.png");
  background-repeat: repeat; /* Do not repeat the image */
  // background-size: contain;
}

.imgart {
  display: flex;
  flex: wrap;
  width: 80%;
  height: auto;
  margin: 2% 10% 1% 10%;
  border: rgb(255, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 40% 40%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);

  &:hover {
    transform: scale(1.01);
    opacity: 1000;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow: hidden;
  }
}

.imgicons {
  display: flex;
  flex: wrap;
  width: 150px;
  height: 100px;
  margin: 5% 0% 5% -10%;
  border: rgb(255, 0, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 40% 40%;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);

  &:hover {
    transform: scale(1.01);
    opacity: 1000;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow: hidden;
  }
}

.icontext {
  display: flex;
  flex: wrap;
  width: 100%;
  padding: 0%;
  text-align: left;
  font-size: 1.5rem;
  // margin: 0% 0% 0% 1%;
  // font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.iconsection {
  margin: 0%;
  background-color: rgb(255, 255, 255);
  border: rgba(
    78,
    78,
    78,
    0.452
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex: wrap;
  p {
    margin: 1%;
    padding: 2.5%;
  }
}
.section {
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex: wrap;
}
.sectionhalf {
  // display: flex;
  flex: wrap;
  margin: 1%;
  background-color: rgb(255, 255, 255);
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  width: 50%;
  background-image: url("images/white.png");
  background-repeat: repeat;

  #p1 {
    margin: 5%;
    background: rgb(243, 243, 243);
    border: #000000;
    border-style: solid;
    border-width: 2px;
  }

  h1 {
    // width: 100%;
    text-align: center;
    display: flex;
    flex: wrap;
    margin: 2%;
    padding: 1%;
    position: relative;
    background: #000000;
    color: white;
    border: rgba(253, 253, 253, 0.438);
    border-style: solid;
    border-width: 2px;
  }
}

.sectiontext {
  padding: 1% 5% 1% 5%;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  display: flex;
  flex: wrap;
  background-color: rgb(255, 255, 255);
  border: rgb(126, 125, 125);
  border-style: solid;
  border-width: 1px;
  //   padding: 2%;
  height: auto;
  background-image: url("images/white.png");
  margin: 0% 7.5% 0% 7.5%;
}
.footertext {
  border: rgb(0, 0, 0); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(206, 206, 206, 0.836);
  height: 10%;
  width: 15%;
  margin: 0.1% 5% 0.1% 5%;

  p {
    color: white;
  }
}

#imgfacebookicon {
  width: 50px;
  height: 10%;
  margin: -10%;
}

.pagemargin {
  //This controls the margin of the entire homepage
  margin: 5% 7.5% 1% 7.5%;
  background-color: maroon;
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  // background-image: url("images/symbolblackandred.png");
}

.navlinkholder {
  margin: 0% 20% 0% 20%;
}
.imglinks {
  width: 100px;
  height: 50px;
  margin: 0.5% 1% 0.5% 1.25%;
  border: rgb(255, 0, 0);
  border-style: solid;
  border-width: 1px;
  border-radius: 20%;

  &:hover {
    transform: scale(1.1);
    opacity: 1000;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow: hidden;
  }
}

//hamburger stuff

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  &:hover {
    transform: scale(1.01);
    opacity: 1000;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    overflow: hidden;
  }
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 5px;
  background-image: url("images/symbol.png");
  background-position: center;
  background-size: 100%;
  border: black; //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  &:hover {
    transform: scale(1.1);
    opacity: 1000;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow: hidden;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  visibility: hidden;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  &:hover {
    transform: scale(1.1);
    opacity: 1000;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
    overflow: hidden;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  &:hover {
    transform: scale(1.01);
    opacity: 1000;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    overflow: hidden;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

// slideshow stuff :

.slide-container {
  width: 100%;
  margin: auto;
}

h3 {
  text-align: center;
}
.slide1 {
  height: 100%;
  width: 100%;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat;
  background-size: 90%;
  background-position: center;
  height: 650px;
  border: black;
  border-style: solid;
  border-width: 1px;
  margin: 2%;
  box-shadow: 1px 1px 100px rgb(0, 0, 0);
  &:hover {
    transform: scale(1.01);
  }
}

.each-slide span {
  padding: 4px;
  font-size: 30px;
  background: rgb(53, 51, 51);
  color: white;
  text-align: center;
  margin-left: -73%;
  margin-top: -36%;
  border: rgba(255, 0, 0, 0.589);
  border-style: solid;
  border-width: 2px;
  // box-shadow: 2px 2px 1px rgb(2, 2, 2);
  // opacity: 0.5;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  background: #adceed;
}

.h1 {
  color: rgb(255, 255, 255);
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 3rem;
  margin: 1% 25% 1% 25%;
  padding: 1px;
  text-align: center;
  // text-transform: uppercase;
  text-rendering: optimizeLegibility;
  // box-shadow: 1px 1px 100px rgb(255, 255, 255);
}

// this must always be at the bottom of the css

@media only screen and (max-width: 700px) {
  .navlinkholder {
    visibility: hidden;
  }
  .pagemargin {
    margin: 0% 1% 0% 1%;
  }
  .nav {
    margin-top: 0%;
  }

  .header {
    margin-top: 20%;
  }
  .each-slide > div {
    background-size: 100%;
    background-position: center;
    height: 200px;
  }
  .each-slide span {
    padding: 5px;
    font-size: 0.5rem;
    margin-left: 0%;
    margin-top: 50%;
  }
  .h1 {
    font-size: 1.2rem;
    margin: 1%;
  }

  .sectiontext {
    font-size: 1rem;
  }
  .section {
    display: flex;
    flex-flow: column;
  }
  .sectionhalf {
    width: 100%;
  }
  .icontext {
    font-size: 1rem;
  }
  .imgicons {
    width: 100px;
    height: auto;
  }
  .footertext {
    font-size: 0.5rem;
    margin: 1% 1% 1% 1%;
    padding: 1% 5% 1% 5%;
  }
}
