html {
  background-color: black;
  background-image: url("images/redbackgroundhexgon.png");
  background-position: center;
  /* Center the image */
  background-repeat: repeat;
  /* Do not repeat the image */
  background-size: contain;
}

.nav {
  background-color: white;
  border: black;
  border-style: solid;
  border-width: 1px;
  height: 60px;
  position: fixed;
  width: 100%;
  margin-top: -72px;
}

.homescreenimg {
  width: 50%;
  height: 50%;
  margin: 2.5% 10% 2.5% 25%;
}

.header {
  margin: 0%;
  background-color: #534f4f;
  background-image: url("images/black.png");
  border: black;
  border-style: solid;
  border-width: 1px;
}

.header h1 {
  color: white;
  text-align: center;
}

.section {
  margin: 1%;
  background-color: white;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.footer {
  background-color: white;
  border: black;
  border-style: solid;
  border-width: 1px;
  height: 60px;
}

.pagemargin {
  margin: 5% 7.5% 1% 7.5%;
  background-color: #b3b3b3;
  border: black;
  border-style: solid;
  border-width: 1px;
  background-image: url("images/red.png");
}

.navlinkholder {
  margin: 0% 20% 0% 20%;
}

.imglinks {
  width: 100px;
  height: 50px;
  margin: 0.5% 1% 0.5% 1.25%;
  border: red;
  border-style: solid;
  border-width: 1px;
  border-radius: 20%;
}

.imglinks:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1000;
  -webkit-box-shadow: 1px 1px 100px #ffc400;
          box-shadow: 1px 1px 100px #ffc400;
  overflow: hidden;
}

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 5px;
  top: 5px;
  background-image: url("images/symbol.png");
  background-position: center;
  background-size: 100%;
  border: black;
  border-style: solid;
  border-width: 1px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  visibility: hidden;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
  .navlinkholder {
    visibility: hidden;
  }
  .pagemargin {
    margin: 0% 1% 0% 1%;
  }
  .nav {
    margin-top: 0%;
  }
  .header {
    margin-top: 20%;
  }
}

.slide-container {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background: #adceed;
}
/*# sourceMappingURL=App.css.map */